@page "/indice-empleados"
@using AppMySql.Shared.Modelos
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>Empleados</h3>

@if (empleados == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Nueva Columna</th>
                <th>Fecha</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in empleados)
            {
                <tr>
                    <td>@item.Id.ToString()</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.EmailAddress</td>
                    <td>@item.Image</td>
                    <td>
                        @if (item.Fecha != null)
                        {
                            @item.Fecha.Value.ToString("MM/dd/yyyy h:mm tt")
                        }
                        else
                        {
                            <span>no hay fecha</span>
                        }
                    </td>
                    <td>
                        <button class="btn btn-info"
                                @onclick="(() => Edit(item.Id))">
                            Editar
                        </button>
                        <button class="btn btn-danger"
                                @onclick="(() => Delete(item.Id))">
                            Borrar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <button class="btn btn-success" @onclick="Create">Añadir Empleado</button>
    </div>
}

<br />
<h3>Tareas</h3>

@if (tareas == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in tareas)
            {
                <tr>
                    <td>@item.Task_id.ToString()</td>
                    <td>@item.Title</td>                 
                </tr>
            }
        </tbody>
    </table>  
}

@code {

    private List<Employee> empleados;

    private List<Tasks> tareas;

    protected override async Task OnInitializedAsync()
    {
        empleados = await Http.GetFromJsonAsync<List<Employee>>("api/Employee");
        tareas = await Http.GetFromJsonAsync<List<Tasks>>("api/Employee/Tareas");
    }

    private async Task Delete(int id)
    {
        await Http.DeleteAsync($"api/Employee/{id}");
        empleados = await Http.GetFromJsonAsync<List<Employee>>("api/Employee");
        StateHasChanged();
    }

    private void Edit(int id)
    {
        Navigation.NavigateTo($"indice-empleados/edit/{id}");
    }
    private void Create()
    {
        Navigation.NavigateTo("indice-empleados/create");
    }
}
